.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 10rem;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-rows: 1fr;
  align-items: end;
  padding-bottom: 15rem;
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
    align-items: center;

    grid-row-gap: 1rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

.realtor {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: center;
  grid-column-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(4, max-content);
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0.5rem;
  }

  &__heading {
    justify-self: center;
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    }
  }
  &__img {
    width: 7rem;
    border-radius: 50%;
  }

  &__text {
    align-self: center;
    color: $color-grey-light-1;
    p {
      color: $color-grey-dark-2;
    }
  }
}
